/* HELPERS */

.h--100 {
    height: 100vh !important;
}

.mt--1 {
    margin-top: 1px;
}
.mt--2 {
    margin-top: 2px;
}
.mt--3 {
    margin-top: 3px;
}
.mt--4 {
    margin-top: 4px;
}
.mt--5 {
    margin-top: 5px;
}
.mt--6 {
    margin-top: 6px;
}
.mt--7 {
    margin-top: 8px;
}
.mt--9 {
    margin-top: 9px;
}
.mt--10 {
    margin-top: 10px;
}
.mt--11 {
    margin-top: 11px;
}
.mt--12 {
    margin-top: 12px;
}
.mt--13 {
    margin-top: 13px;
}
.mt--14 {
    margin-top: 14px;
}
.mt--15 {
    margin-top: 15px;
}
.mt--16 {
    margin-top: 16px;
}
.mt--17 {
    margin-top: 17px;
}
.mt--18 {
    margin-top: 18px;
}
.mt--19 {
    margin-top: 19px;
}
.mt--20 {
    margin-top: 20px;
}
.mt--21 {
    margin-top: 21px;
}
.mt--22 {
    margin-top: 22px;
}
.mt--23 {
    margin-top: 23px;
}
.mt--24 {
    margin-top: 24px;
}
.mt--25 {
    margin-top: 25px;
}
.mt--26 {
    margin-top: 26px;
}
.mt--27 {
    margin-top: 27px;
}
.mt--28 {
    margin-top: 28px;
}
.mt--29 {
    margin-top: 29px;
}
.mt--30 {
    margin-top: 30px;
}
.mt--31 {
    margin-top: 31px;
}
.mt--32 {
    margin-top: 32px;
}
.mt--33 {
    margin-top: 33px;
}
.mt--34 {
    margin-top: 34px;
}
.mt--35 {
    margin-top: 35px;
}
.mt--36 {
    margin-top: 36px;
}
.mt--37 {
    margin-top: 37px;
}
.mt--38 {
    margin-top: 38px;
}
.mt--39 {
    margin-top: 39px;
}
.mt--40 {
    margin-top: 40px;
}
.mt--41 {
    margin-top: 41px;
}
.mt--42 {
    margin-top: 42px;
}
.mt--43 {
    margin-top: 43px;
}
.mt--44 {
    margin-top: 44px;
}
.mt--45 {
    margin-top: 45px;
}
.mt--46 {
    margin-top: 46px;
}
.mt--47 {
    margin-top: 47px;
}
.mt--48 {
    margin-top: 48px;
}
.mt--49 {
    margin-top: 49px;
}
.mt--50 {
    margin-top: 50px;
}
.mt--51 {
    margin-top: 51px;
}
.mt--52 {
    margin-top: 52px;
}
.mt--53 {
    margin-top: 53px;
}
.mt--54 {
    margin-top: 54px;
}
.mt--55 {
    margin-top: 55px;
}
.mt--56 {
    margin-top: 56px;
}
.mt--57 {
    margin-top: 57px;
}
.mt--58 {
    margin-top: 58px;
}
.mt--59 {
    margin-top: 59px;
}
.mt--60 {
    margin-top: 60px;
}
.mt--61 {
    margin-top: 61px;
}
.mt--62 {
    margin-top: 62px;
}
.mt--63 {
    margin-top: 63px;
}
.mt--64 {
    margin-top: 64px;
}
.mt--65 {
    margin-top: 65px;
}

.mt--80 {
    margin-top: 80px;
}
.mt--85 {
    margin-top: 85px;
}
.mt--90 {
    margin-top: 90px;
}
.mt--100 {
    margin-top: 100px;
}
.mt--110 {
    margin-top: 110px;
}

.mb--65 {
    margin-bottom: 65px !important;
}

.mb--80 {
    margin-bottom: 80px !important;
}

.p--40 {
    padding: 40px 40px;
}

.pb--80 {
    padding-bottom: 80px;
}

.pt--80 {
    padding-top: 80px;
}

.ptb--80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.plr-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.pr-0 {
    padding-right: 0;
}

.line-height-80 {
    line-height: 80px;
}

.f-s-10 {
    font-size: 10px !important;
}

.f-s-11 {
    font-size: 11px !important;
}

.f-s-12 {
    font-size: 12px !important;
}

.f-s-13 {
    font-size: 13px !important;
}

.f-s-14 {
    font-size: 14px !important;
}
.f-s-15 {
    font-size: 15px !important;
}
.f-s-16 {
    font-size: 16px !important;
}
.f-s-17 {
    font-size: 17px !important;
}
.f-s-18 {
    font-size: 18px !important;
}
.f-s-19 {
    font-size: 19px !important;
}
.f-s-20 {
    font-size: 20px !important;
}
.f-s-21 {
    font-size: 21px !important;
}
.f-s-22 {
    font-size: 22px !important;
}
.f-s-23 {
    font-size: 23px !important;
}
.f-s-24 {
    font-size: 24px !important;
}
.f-s-25 {
    font-size: 25px !important;
}
.f-s-30 {
    font-size: 30px !important;
}

.f-s-40 {
    font-size: 40px !important;
}

.f-s-45 {
    font-size: 45px !important;
}

.f-s-80 {
    font-size: 80px !important;
}
